#heart-container {
  position: relative;
  margin: 0 auto;
  height: 256px;
  width: 256px;
}

#heart-container img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#heart-container img.transparent-true {
  opacity: 0;
}

#heart-container img.transparent-false {
  opacity: 100;
}

