.rtc-pip {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 0;
  right: 4px;
  z-index: 100;
}

.video {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.them {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

#mute {
  position: absolute;
  top: 3%;
  right: 50%;
  z-index: 101;
  font-weight: bold;
  font-size: 24px;
  color: red;
}

body {
  /* To prevent click-and-drag from selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
